<h2>Innehåll</h2>
<ul>
    {% for item in collections.pages %}
    <li>
        <a href="{{ site.path + item.url }}">{{ item.data.title }}</a>
         - Webbutveckling {{ item.data.level }}
    </li>
    {% endfor %}
</ul>
