<nav class="navbar" aria-label="Primary">
    <div class="navbar__inner container">
        <a class="brand" href="/">
            <span class="material-icons"> web </span>
        </a>
        <button class="navbar__toggle">
            <span class="material-icons"> menu </span>
        </button>
        <div class="navbar__collapse">
            <ul class="nav">
                <li class="nav__item">
                    <a
                        class="
                            nav__link{%
                            if
                            page.url
                            ===
                            '/'
                            %}
                            active{%
                            endif
                            %}
                        "
                        href="index.html"
                        >Hem</a
                    >
                </li>
                <!-- <li class="nav__item">
                    <a class="nav__link active" href="#">Navigation</a>
                </li> -->
                <li class="nav__item dropdown">
                    <a class="nav__link--dropdown-toggle" href="#" role="button"
                        >Exempel</a
                    >
                    <ul class="nav dropdown__content">
                        {% for item in collections.pages %}
                        <li class="dropdown__item">
                            <a class="nav__link{%
                                if
                                page.url
                                ===
                                item.url
                                %}
                                active{%
                                endif
                                %}" href="{{ item.fileSlug }}.html">{{
                                item.data.title
                            }}</a>
                        </li>
                        {% endfor %}
                        <!-- <li class="dropdown__item">
                            <a class="nav__link" href="#">Link</a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const toggle = document.querySelector('.nav__link--dropdown-toggle');
    toggle.addEventListener('click', function (e) {
        e.preventDefault();
    });
</script>
<script defer src="/js/hamburger.js"></script>
