@use "sass:map";
@use "../config" as config;
.dropdown {
    position: relative;
    display: inline-block;

    &__content {
        display: none;
        position: absolute;
        min-width: map.get(config.$scale, 800);
        background-color: var(--color-bg);
        box-shadow: 0px 8px 16px 0px var(--color-shadow);
    }
    
    &:hover &__content {
        display: flex;
        flex-direction: column;
    }
    
    &__item {
        padding: map.get(config.$scale, -200);
        &:hover {
            box-shadow: 0px 2px 4px 0px var(--color-shadow);
        }
    }
}