@use "sass:map";
@use "../config" as config;

.footer {
    background-color: var(--color-grey);
    margin-top: auto;
    padding: map.get(config.$scale, 100);
    &__inner {
        font-size: config.$font-size-small;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}