@use "sass:map";
@use "../config" as config;

.nav {
    display: flex;
    flex-direction: row;
    @media (max-width: map.get(config.$breakpoints, "md")) {
        flex-direction: column;
    }
    &__item {
        padding-left: map.get(config.$scale, 100);
        @media (max-width: map.get(config.$breakpoints, "md")) {
            padding-left: 0;
        }
    }
}