@use "sass:map";
@use "../config" as config;

.page {
    width: 100%;
    margin-top: map.get(config.$scale, 100);
    margin-bottom: map.get(config.$scale, 400);
    h1 {
        text-transform: uppercase;
        font-size: map.get(config.$scale, 400);
        word-break: break-all;
        hyphens: auto;
        &:hover {
            color: var(--color-primary);
        }
    }
    &__content {
        margin-top: map.get(config.$scale, 100);
    }
}