.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: ms(1);
    padding-right: ms(1);

    @media (min-width: 576px) {
        max-width: ms(12);
    }
    @media (min-width: 768px) {
        max-width: ms(13);
    }
    @media (min-width: 992px) {
        max-width: ms(14);
    }
    @media (min-width: 1200px) {
        max-width: ms(15);
    }
}