@charset "UTF-8";
.hideshow {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-grey);
}
.hideshow__summary {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.hideshow__body {
  padding-top: 0.75rem;
}

.wjs__button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--color-grey);
  width: 100%;
  text-align: left;
}
.wjs__button::before {
  content: "►";
}
.wjs__button--active::before {
  content: "▼";
}
.wjs__content {
  padding-top: 0.75rem;
}
.wjs__content--hidden {
  display: none;
}
