---
layout: layouts/base.njk
---

{% block head %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
    integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
{% endblock %}
<main id="main-content" class="page container">
    <header class="page__hero flow">
        <h1 class="logo__heading">
            {{ title }}
        </h1>
    </header>
    <section class="page__content flow">
    {{ content | safe }}
    </section>
</main>