/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * DARK MODE MIXIN
 * 
 * A little wrapper that lets you define your dark mode custom 
 * properties in a way that supports the theme toggle web component
 */
:root {
  --flow-space: 1.333rem;
  --color-mode: "light";
  --color-bg: #e8e8e8;
  --color-fg: #212121;
  --color-light: #f0f0f0;
  --color-dark: #212121;
  --color-primary: #ec325a;
  --color-primary-hover: rgba(236, 50, 90, 0.8);
  --color-on-primary: #9f2a43;
  --color-secondary: #4a0080;
  --color-secondary-hover: rgba(74, 0, 128, 0.8);
  --color-on-secondary: ;
  --color-selection: #4a0080;
  --color-on-selection: ;
  --color-grey: #c7c7c7;
  --color-grey-light: white;
  --color-grey-dark: #636363;
  --color-shadow: rgba(33, 33, 33, 0.2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 36rem) {
  .container {
    max-width: 36rem;
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}
@media (min-width: 62rem) {
  .container {
    max-width: 62rem;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

:where(ul[class]) {
  padding: 0;
  margin: 0;
  list-style: none;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Work Sans", sans-serif;
  line-height: 1.333;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.368593037rem;
}

h2 {
  font-size: 1.776889rem;
}

h3 {
  font-size: 1.333rem;
}

.lead {
  font-size: 1.333rem;
}

.footer {
  background-color: var(--color-grey);
  margin-top: auto;
  padding: 1.776889rem 1rem;
}
.footer__inner {
  font-size: 0.7501875469rem;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  width: 100%;
}
.page h1 {
  text-transform: uppercase;
  font-size: 3.1573345183rem;
  word-break: break-all;
  hyphens: auto;
}
.page h1:hover {
  color: var(--color-primary);
}
.page__content {
  margin-top: 1.333rem;
}

.brand {
  text-decoration: none;
}
.brand img, .brand span {
  vertical-align: middle;
}
.brand .material-icons {
  font-size: 1.776889rem;
  line-height: inherit;
}

.navbar {
  font-size: 1.333rem;
  font-weight: 500;
}
.navbar a {
  text-decoration: none;
  color: var(--color-on-primary);
}
.navbar a:hover {
  color: var(--color-primary-hover);
  text-decoration: none;
}
.navbar__toggle {
  color: var(--color-primary);
  border: none;
  background-color: transparent;
}
.navbar__toggle:hover {
  color: var(--color-primary-hover);
}
.navbar__toggle .material-icons {
  font-size: 1.776889rem;
  line-height: inherit;
}
@media (min-width: 48rem) {
  .navbar__toggle {
    display: none;
  }
}
@media (max-width: 48rem) {
  .navbar__collapse {
    display: none;
  }
}
.navbar__collapse-show {
  display: block;
  width: 100%;
}
.navbar__inner {
  display: flex;
  align-items: center;
  padding: 1.333rem 1rem;
  justify-content: left;
  flex-wrap: wrap;
}
@media (max-width: 48rem) {
  .navbar__inner {
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 48rem) {
  .nav {
    flex-direction: column;
  }
}
.nav__item {
  padding-left: 1.333rem;
}
@media (max-width: 48rem) {
  .nav__item {
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
  min-width: 9.9687612606rem;
  background-color: var(--color-bg);
  box-shadow: 0px 8px 16px 0px var(--color-shadow);
}
.dropdown:hover .dropdown__content {
  display: flex;
  flex-direction: column;
}
.dropdown__item {
  padding: 0.5627813555rem;
}
.dropdown__item:hover {
  box-shadow: 0px 2px 4px 0px var(--color-shadow);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.active {
  color: var(--color-dark) !important;
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-on-selection);
}

::-moz-selection {
  background-color: var(--color-selection);
  color: var(--color-on-selection);
}

/*# sourceMappingURL=main.css.map */
