---
title: Hamburgermeny
layout: layouts/example.njk
level: 2
---
<p>Den meny som oftast, men inte alltid, komprimeras ned till en menyknapp på mindre
    skärmar kallas populärt för en hamburgermeny. Den representeras oftast av en 
    ikon som kan liknas vid en hamburgare 🍔, <span class="material-icons"> menu </span>.
</p>
<p>Den menyn är ett samspel av css och javascript. Det blir snabbt mer komplext, 
    om du vill prova att undersöka och koda en så kan du utgå från menyn på den här sidan.
    Den är baserad på exemplet här ovan.
</p>
