---
title: Visa och dölj
layout: layouts/example.njk
---

<p>Vanlig önskan är att visa och dölja innehåll. Detta kan göras med lite css och javascript.</p>
<div class="playground flow">
    {% include "examples/hideshow-example.njk" %}
</div>