---
title: Visa och dölj
layout: layouts/example.njk
level: 1
---
<link rel="stylesheet" href="{{ site.path + '/css/examples/hideshow-example.css' }}" />
<script src="{{ site.path + '/js/examples/hideshow-example.js' }}"></script>
<p>Vanlig önskan är att visa och dölja innehåll. Detta kan göras med lite css och javascript.</p>
<div class="playground flow">
    {% include "examples/hideshow-example.njk" %}
</div>