---
title: Navigation
layout: layouts/example.njk
---

<h2>Navbar, responsiv utan javascript</h2>
<div class="playground">
    {% include "examples/nav-example.njk" %}
</div>
<h3>html</h3>
{% highlight "html" %}
<nav class="navbar">
    <a class="brand" href="#">Brand</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">Hem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Navigation</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">Dropdown</a>
            <ul class="nav dropdown-content">
                <li class="dropdown-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endhighlight %}
<h3>css</h3>
{% highlight "css" %}
:root {
    --color-light: #f0f0f0;
    --color-dark: #212121;
    --color-shadow: rgba(33, 33, 33, 0.2);
    --color-secondary:#4a0080;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-light);
    font-size: 1.25rem;
}
.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav a {
    text-decoration: none;
}
.nav-item {
    padding-right: 1rem;
}
.nav-item:first-child {
    padding-left: 1rem;
}
.nav-link {
    color: var(--color-secondary);
}
.nav-link:hover {
    text-decoration: none;
    color: var(--color-dark);
}
.brand {
    white-space: nowrap;
}
.active {
    color: var(--color-dark);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px var(--color-shadow);
    background-color: var(--color-light);
    padding: 0.5rem;
    z-index: 1010;
}
.dropdown-item {
    padding: 0.25rem 0.5rem;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .navbar-example {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-example .nav {
        flex-direction: column;
    }
    .nav-item:first-child {
        padding-left: 0rem;
    }
}
{% endhighlight %}
    <p>För en navbar som är sticky så kan följande klass läggas till.</p>
{% highlight "css" %}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
{% endhighlight %}

<h2>Hamburgermeny</h2>
<p>Den meny som oftast, men inte alltid, komprimeras ned till en menyknapp på mindre
    skärmar kallas populärt för en hamburgermeny. Den representeras oftast av en 
    ikon som kan liknas vid en hamburgare 🍔, <span class="material-icons"> menu </span>.
</p>
<p>Den menyn är ett samspel av css och javascript. Det blir snabbt mer komplext, 
    om du vill prova att undersöka och koda en så kan du utgå från menyn på den här sidan.
    Den är baserad på exemplet här ovan.
</p>
