<ul class="btns">
    <li>
        <button>Standard button</button>
    </li>
    <li>
        <button class="btn">Styled button</button>
    </li>
    <li>
        <button class="btn bg-primary">Primary button</button>
    </li>
    <li>
        <button class="btn bg-secondary">Secondary button</button>
    </li>
    <li>
        <button class="btn btn-rounded">Rounded button</button>
    </li>
    <li>
        <button class="btn btn-animated">Animated button</button>
    </li>
    <li>
        <button class="btn" id="js-button">JS button</button>
    </li>
    <li>
        <button class="btn" id="counter-button">Clicked: 0</button>
    </li>
    <li><a class="btn" id="a-button" href="#">Link button</a></li>
</ul>