<style>
    .button-container {
        margin-top: 1.25rem;
    }
</style>
<h2>Click count: 0</h2>
<div class="button-container">
    <button class="btn" id="count-button">Click</button>
    <button class="btn" id="save-button">Save clicks</button>
    <button class="btn" id="reset-button">Reset clicks</button>
</div>
