---
title: '404'
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<main id="main-content" class="page container">
    <header class="page__hero flow">
        <h1 class="page__heading bleed">
            <div class="container">
                {{ title }}
            </div>
        </h1>
    </header>
    <section class="page__content flow">
        <p class="lead">
            Ursäkta, men sidan du letade efter kunde inte hittas. 
            Var snäll och försök från <a href="/">startsidan</a> igen.
        </p>
    </section>
</main>