---
title: Exempel och övningar
layout: layouts/base.njk
---

<main id="main-content" class="page container">
    <header class="page__hero flow">
        <h1 class="page__heading bleed">
            <div class="container">
                {{ title }}
            </div>
        </h1>
        <p class="lead">
            Det här repot samlar ett antal exempel över vanliga webbkomponenter
            och visar hur du kan koda dem. Arbeta dig igenom dina
            intresseområden och gör tillhörande övningar, eller hitta det du
            behöver och använd det.
        </p>
        <p class="lead">
            Repot är ett work in progress och hittar du något som är fel kan du
            skapa ett
            <a
                href="{{ pgk.bugs.url }}"
                target="_blank"
                rel="noopener"
                >issue</a
            >. Om du förbättrar eller skapar något nytt till sidan så skapa en
            <a
                href="{{ pgk.repository.url }}/pulls"
                target="_blank"
                rel="noopener"
                >pull request</a
            >.
        </p>
        <p class="lead">Den här sidan är ett komplement till <a href="https://webbutveckling.jensa.xyz">Webbutveckling</a>.</p>
    </header>
    <section class="page__content flow">
        <p>
            För att köra de exempel som finns på den här sidan kan du antingen
            bygga alltihopa med
            <a href="https://www.npmjs.com/" target="_blank" rel="noopener"
                >npm</a
            >, kolla på sidan i din webbläsare (som du gör nu) eller klona
            <a
                href="{{ pgk.repository.url }}"
                target="_blank"
                rel="noopener"
                >repot</a
            >
            och öppna exempel med
            <a
                href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
                rel="noopener"
                >Live server</a
            >
            från
            <a
                href="https://code.visualstudio.com/"
                target="_blank"
                rel="noopener"
                >Visual studio code</a
            >.
        </p>
        <p>
            En del av sidorna innehåller instruktioner för hur du går tillväga
            för att koda och återskapa dem, men oavsett det så förväntas du
            inspektera och undersöka källkoden på sidorna. Så öppna
            utvecklarverktygen i webbläsaren (F12) och se till att
            <em>Inspektera dokumentet</em>.
        </p>
        <p>
            Alla sidorna innehåller en eller flera övningar för dig att arbeta
            med. <em>Koda</em> och läs.
        </p>
        <p>
            Validera din
            <a href="https://validator.nu/" target="_blank" rel="noopener"
                >HTML</a
            >
            och
            <a
                href="https://jigsaw.w3.org/css-validator/"
                target="_blank"
                rel="noopener"
                >CSS</a
            >.
        </p>
        {% include "components/itemlist.njk" %}
        <h2>Länkar och annat nyttigt</h2>
        <p>Här finns det en del läsning kring viktiga koncept och delar av 
            kurserna webbutveckling. Det är bra material men inte på svenska.
        </p>
        <ul>
            <li>
                <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model" target="_blank">Box modellen</a>
            </li>
            <li>
                <a href="https://learn-the-web.algonquindesign.ca/topics/html-semantics-cheat-sheet/" target="_blank">Semantiska element, fusklapp</a>
            </li>
        </ul>
    </section>
</main>
