---
title: Exempel och övningar
layout: 'layouts/base.njk'
---

{% include 'components/navbar.njk' %}
<main id="main-content" class="page container">
    <header class="page__hero flow">
        <h1 class="logo__heading">
            {{ site.title }}
        </h1>
        <h2>{{ title }}</h2>
        <p class="lead">
            Det här repot samlar ett antal exempel över vanliga webbkomponenter
            och visar hur du kan koda dem. Arbeta dig igenom dina
            intresseområden och gör tillhörande övningar, eller hitta det du
            behöver och använd det. Repot är ett work in progress och hittar du
            något fel eller förbättring så gör gärna en pull request. Om du
            saknar något eller hittar fel, så skapa en
            <a href="https://github.com/jensnti/wu-ovningar/issues">issue</a>
            på GitHub och berätta vad.
        </p>
        <p>
            Innan du kör igång rekommenderar jag att du installerar VSCode
            extensionen
            <a
                href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
                >Live server</a
            >, så att du förenklar ditt arbetsflöde. Installera, ladda om code
            och högerklicka sedan på html-dokument och välj Open with live
            server.
        </p>
    </header>
    <section class="page__content flow">
        <p>
            En del av sidorna innehåller instruktioner för hur du går tillväga
            för att koda och återskapa dem, men oavsett det så förväntas du
            inspektera och undersöka källkoden på sidorna. Så öppna
            utvecklarverktygen i webbläsaren (F12) och se till att Inspektera
            dokumentet.
        </p>
        <p>
            Alla sidorna innehåller en eller flera övningar för dig att arbeta
            med.
        </p>
        <p>
            Validera din <a href="https://validator.nu/">HTML</a> och
            <a href="https://jigsaw.w3.org/css-validator/">CSS</a>.
        </p>
    </section>
</main>
{% include 'components/footer.njk' %}
