---
title: Exempel och övningar
layout: 'layouts/base.njk'
---

<h1>{{ site.title }}</h1>
<h2>{{ title }}</h2>
<p class="lead">
    Det här repot samlar ett antal exempel över vanliga webbkomponenter och
    visar hur du kan koda dem. Arbeta dig igenom dina intresseområden och gör
    tillhörande övningar, eller hitta det du behöver och använd det. Repot är
    ett work in progress och hittar du något fel eller förbättring så gör gärna
    en pull request. Om du saknar något eller hittar fel, så skapa en
    <a href="https://github.com/jensnti/wu-ovningar/issues">issue</a>
    på GitHub och berätta vad.
</p>
