@use "sass:map";
@use "sass:math";

$base-size: 1rem;
$base-scale: 1.333;

$scale: (
    0: $base-size,
);

$prev-scale: $base-size;
@for $i from 1 to 16 {
    $prev-scale: $prev-scale * $base-scale;
    $scale: map.set($scale, $i * 100, $prev-scale);
}
$prev-scale: $base-size;
@for $i from -1 to -10 {
    $prev-scale: math.div($prev-scale, $base-scale);
    $scale: map.set($scale, $i * 100, $prev-scale);
}

$base-font: sans-serif;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px
);